<!-- <app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <app-students-page></app-students-page>
        </div>
        <div class="col-md-4">
            <h2>Message service goes here.</h2>
        </div>
    </div>
</div>
<app-page-not-found></app-page-not-found> -->


<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-4">
            <!-- <h2>Message service goes here.</h2> -->
        </div>
    </div>
</div>