<h2>Subject-wise Average Marks</h2>
<br>
<div class="row">
    <div class="col-md-12">
        <ol class="list-group"  *ngFor="let subject of avg; index as i">
            <li class="list-group-item list-group-item-primary">
                <h2>{{subject['subject']}}</h2>
                    <div class="progress">
                    <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" [aria-valuenow]="subject.avg_score"
                    aria-valuemin="0" aria-valuemax="100" [style.width]="(subject.avg_score / 100 * 100) + '%'">
                    <strong>{{subject.avg_score}}</strong>
                    </div>
                </div>
            </li>
        </ol>
    </div>  
</div>


