<div class="list-group">
    <div class="row">
        <div class="col-md-8">
            <a class="list-group-item clearfix">
               <div class="row">
                   <div class="col-md-4">
                        <h2>Student ID</h2>
                        <p style="font-size: 125%; margin-left: 50px;"><b>{{student.id}}</b></p>
                   </div>
                   <div class="col-md-4">
                       <div class="col-sm-6">
                            <h2>{{student.name}}</h2>
                            <p style="font-size: 125%;">{{student.address}}</p>
                       </div>
                       <div class="col-sm-6">
                        <div class="col-xs-6 btn-block" style="margin-top: 10px; margin-left: 15px;"><button class="btn btn-info" (click)="onSelected()">View</button></div>
                        <div class="col-xs-6 btn-block" style="margin-top: 10px; margin-left: 15px;"><button class="btn btn-info" (click)="onEdit()">Edit</button></div>
                       </div>
                   </div>
                   <div class="col-md-4">
                        <img [src]="student.imgUrl" [alt]="student.name" class="img-responsive img-thumbnail" style="height: 100px; margin-left: 100px;">
                   </div>
               </div>
            </a>
        </div>
    </div>  
</div>

